

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#sidebar
{
   	float: right;
   	width:20%;
   	padding-top:133px;
   	line-height:1em;	
	color:#76481b;
	margin:0 auto;
	    			width:30%;}
	 
#sidebar a {color:#76481b;
	text-decoration:none;
	font-family:helvetica;
	font-size:13px;
	text-transform:capitalize;
}
	
#main-menu a {color:white;
	text-decoration:none;
	font-family:helvetica;
	font-size:10px;
	text-transform:uppercase;
	font-weight:bold;}	
	
		
		 
#site-footer {
		position:relative;
		clear:both;
		height:160px;			
		 background-color:#76481b;
	}
	
	
	
	
/**GRAPHIC**/		

	
	
#site-header { margin:0 auto;
    			width:60%;}
				
				
/**LOG-IN**/		 
#top-nav {
			 position:relative;
			 top:10px;
			 height:20px;
			 right:100px;
			 font-size:20px;
			 background-color:#ebf2d5;
			float:right;
			
		 }
#evil a {font-color:#76481b;
	text-decoration:none;
	font-family:helvetica;
	text-transform:caps;
	font-size:100px; margin:0 auto;
				 width:60%;}
		 
/**NAVIGATION**/			 

				
#site-header {position:relative; 
	height:120px; 
	background-color:#EFF3DC; }
#site-header h1 {position:absolute; 
	left:15px; padding-left:10%; }
#top-nav {position:absolute; 
	right:15px; font-family: helvetica; 
	font-size:.5em; color:#4f3a11; 
	padding-right:10%;  }

a:link {text-decoration: none; 
	color:#4f3a11; }

#main-menu {position:relative; 
	height:30px; 
	background-color:#76481b; 
width:60%; }



#main-menu li {float:left; 
	display:block; 
	left:300px;
	padding-left:10px; 
	font-family: helvetica;
	 text-transform:uppercase; 
	 color:white; 
	 font-weight:bold; 
	 font-size:.9em;  }
	 
	 
	 
#main-menu li a {color:white; 
	font-weight:bold; 
	padding-left:50px;}

			
/**LINKS**/					
#top-nav a {color:#76481b;
	text-decoration:none;
	font-family:helvetica;
	text-transform:caps;
	font-size:10px; margin:0 auto;
				 width:60%;

}				
	
	
			
/**CONTENT**/				
#page	{clear:both;
			 
			   	 float:left;
			   	 line-height:1.5em;
				 padding-top:30px;
				 padding-right:30px;
			   	 padding-left:0px;
				 padding-bottom:30px;
				 margin:0 auto;
				 width:60%;
 }		

 #content { margin:0 auto;
				 width:60%;}
				 
li {float:right
	display:inline-block;}	
	
	
#site-wrapper	{background-color:#ebf2d5;}	

#footer-follow { margin:0 auto;
				 width:30%;
				 right:0px;
				 position:absolute;
				top:0px;
				color:#ebf2d5;
				font-family:helvetica;
				text-transform:uppercase;
				font-size:13px;
				 line-height:2em;				
}

#footer-follow li {display:inline;}		 			 

li display  {display: inline;
}

#contact {margin:0 auto;
				 width:60%;
				 font-family:helvetica;
				 font-size:13px;
				 text-transform:uppercase;
				 color:#ebf2d5;
				 line-height:2em;}
#copy {margin:0 auto;
				 width:60%;
				 font-family:helvetica;
				 font-size:10px;
				 color:white;
				 line-height:2em;
				}	
				 
#words {width:200px; height:100px;
	margin-top:10px;}		

#footer-wrapper { margin:0 auto;
				 width:100%;
				 position:relative;
				 top:10px;
				 height:40px;
				
			 }	
			 
#footer-contact {top:50px;
				 height:40px;
				 margin:0 auto;
				width:60%;
			 }	
				 
#heads {color:#76481b;
	font-family:helvetica;
	font-size:30px;
	font-weight:bold;
text-transform:uppercase;
line-height:1.5em;}	


#lorem {color:#76481b;
	font-family:helvetica;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;}	
	
#dictumst {color:#black;
	font-family:helvetica;
	font-size:13px;}
	
#praesent	{color:#black;
	font-family:helvetica;
	font-size:13px;	}
	
#ipsum {color:#76481b;
	font-family:helvetica;
	font-size:15px;
	font-weight:bold;
	text-transform:uppercase;}	
	
	
#vel	{color:#black;
		font-family:helvetica;
		font-size:13px;	}				 		 	 			 
		
#nullam {color:#black;
			font-family:helvetica;
			font-size:13px;}	
			
#sidebar {color:#76481b;
				font-family:helvetica;
				font-size:15px;
				font-weight:bold;
				text-transform:uppercase;}	
#links {color:#76481b;
	font-family:helvetica;
	font-size:30px;
	font-weight:bold;
	text-transform:uppercase;}	
	
#evil a {color:#ebf2d5;}	

#main-menu {				 margin:0 auto;
				width:100%;}