/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s,0 samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

body {
	margin:0 auto;
	width: 80%;
}
header {
	margin: 1%;
	text-align: center;
}
header img {
	margin-top: 2%;
	margin-bottom: 2%;
}

header nav {
	border-top: solid black;
	border-bottom: solid black;
	margin-bottom: 1%;
	text-transform: uppercase;
}

nav li {
	display: inline-block;
	margin: .1% 2% .1%;
	text-transform: uppercase;
}
nav a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
}
footer a {
	text-decoration: none;
	color: blue;
}
article {
	float: left;
	width: 40%;
	display: block;
	margin: 10px 10px;
}
footer {
	clear: both;
}
article img {
	width: 400px;
	height: 400px;
}




